(Übung_csv)=
# Übung: Arbeiten mit CSV-Dateien in R


Die folgende Lerneinheit soll Ihnen den Ersteinstieg in die Programmiersprache **R** erleichtern. Um der Übungseinheit effektiv folgen zu können, installieren Sie bitte **R** und **RStudio**. Hinweise zur Installation finden Sie im Abschnitt [Technische Voraussetzungen](/Markdown/1_2_technische_voraussetzungen.md).  
Als Fallbeispiel wird eine CSV-Datei mit Rohdaten zum *Personalstand an Hochschulen* eingelesen und ausgewertet. Entweder haben Sie diese Datei schon in Abschnitt 4.2 [XLSX und CSV](/Markdown/4_2_XLSXundCSV.md) heruntergeladen oder Sie klicken [hier](Data/21341-0001_F_2020.csv) um die CSV-Datei aus unserem Repositorium direkt herunterzuladen (Quelle: Statistisches Bundesamt 2022).  

------------------------------------------------------------------------

## Einleitung
```{admonition} Wichtig
:class: keypoint
Für Computersprachen gilt allgemein: Es gibt nie nur einen Weg zum Ziel. Unterschiedliche Befehle können Sie zum gleichen Ziel bringen. Dieses gilt auch für die folgenden angeführten Befehle.
```

Damit Sie die in diesem Skript angeführten Befehle verwenden können, müssen Sie das folgende Package installieren und laden. Hierzu stellen Sie zuerst sicher, dass `tidyverse` installiert ist bzw. installieren das Package:

In [ ]:
install.packages("tidyverse")

Installiere Paket nach ‘/opt/homebrew/lib/R/4.5/site-library’
(da ‘lib’ nicht spezifiziert)

Dann laden Sie das Package:

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

(Einlesen_csv)=
## Einlesen von CSV Dateien

Hierfür gibt es zwei Befehle: `read.csv()` oder `read.csv2()`  

- `read.csv()` wird verwendet, wenn die Werte in der CSV Datei durch Kommata separiert werden.
- `read.csv2()` wird verwendet, wenn die Werte in der CSV Datei durch Semikola separiert werden.

**Fallbeispiel:**

In [ ]:
#Daten einlesen
data_csv <- read.csv2("Data/21341-0001_F_2020.csv", header = FALSE)

**Erklärung des Codes:**

- `#Daten einlesen`: Durch das setzen eines `#` wird der folgende Inhalt in der Zeile nicht als Code interpretiert und somit auch nicht ausgeführt. Wenn Sie Textbausteine, Kommentare, Überschriften etc. in Ihrem **R-Skript** integrieren möchten, was für eine bessere Nachvollziehbarkeit Ihres Skriptes zu empfehlen ist, benutzen Sie immer das `#`-Symbol, um dies kenntlich zu machen. Ansonsten wird **R** einen Error ausgeben.
- `read.csv2()`: Die verwendete Datei ist durch Semikola separiert. Deswegen wird hier `read.csv2()` verwendet.
  
  *Woraus ist dies ersichtlich? Durch Öffnen der Datei in der Console Ihres Rechners können Sie die verwendeten Trennzeichen erkennen.*
- `"Data/21341-0001_F_2020.csv"`: Hier steht der relative Pfad zur CSV-Datei, die geladen werden soll.
  
  *Bei Verwendung von RStudio: Sie sollten unter **Files** den Ordner aufrufen, in dem Ihre Dateien gespeichert sind. Nach dem Klicken auf die gewünschte Datei, können Sie die Option **Import Dataset…** nutzen.*
- `header = FALSE`: Die CSV Datei hat keine Überschriften, daher muss hier der Zusatz hinzugefügt werden.

- `data_csv <-`: Damit Sie einen Befehl nicht immer wieder ausführen müssen, können Sie dem Befehl mittels eines Pfeils `<-` einem Namen zuordnen.
  
  *Hier: “data\_csv”. Nun können Sie in dem folgenden Skript nur noch den gesetzten Namen verwenden.*

```{admonition} Tipp
:class: hinweis
Wenn Sie die Bedeutung und Syntax eines Befehls besser verstehen wollen, empfielt es sich, diesen Befehl im Handbuch nachzuschlagen. Hierzu setzen Sie ein `?` vor den Befehl Ihres Interesses.
```

*Beispiel:*

In [ ]:
# Funktioniert in R Studio oder im Jupyter Notebook, nicht jedoch in der Web-Ansicht
?read.csv2

read.table                package:utils                R Documentation

_D_a_t_a _I_n_p_u_t

_D_e_s_c_r_i_p_t_i_o_n:

     Reads a file in table format and creates a data frame from it,
     with cases corresponding to lines and variables to fields in the
     file.

_U_s_a_g_e:

     read.table(file, header = FALSE, sep = "", quote = "\"'",
                dec = ".", numerals = c("allow.loss", "warn.loss", "no.loss"),
                row.names, col.names, as.is = !stringsAsFactors, tryLogical = TRUE,
                na.strings = "NA", colClasses = NA, nrows = -1,
                skip = 0, check.names = TRUE, fill = !blank.lines.skip,
                strip.white = FALSE, blank.lines.skip = TRUE,
                comment.char = "#",
                allowEscapes = FALSE, flush = FALSE,
                stringsAsFactors = FALSE,
                fileEncoding = "", encoding = "unknown", text, skipNul = FALSE)

     read.csv(file, header = TRUE, sep = ",", quote = "\"",
              dec = ".", fill = TRUE, comment.char = "", ...)

     read.csv2(file, header = TRUE, sep = ";", quote = "\"",
               dec = ",", fill = TRUE, comment.char = "", ...)

     read.delim(file, header = TRUE, sep = "\t", quote = "\"",
                dec = ".", fill = TRUE, comment.char = "", ...)

     read.delim2(file, header = TRUE, sep = "\t", quote = "\"",
                 dec = ",", fill = TRUE, comment.char = "", ...)

_A_r_g_u_m_e_n_t_s:

    file: the name of the file which the data are to be read from.
          Each row of the table appears as one line of the file.  If it
          does not contain an _absolute_ path, the file name is
          _relative_ to the current working directory, ‘getwd()’.
          Tilde-expansion is performed where supported.  This can be a
          compressed file (see ‘file’).

          Alternatively, ‘file’ can be a readable text-mode connection
          (which will be opened for reading if necessary, and if so
          ‘close’d (and hence destroyed) at the end of the function
          call).  (If ‘stdin()’ is used, the prompts for lines may be
          somewhat confusing.  Terminate input with a blank line or an
          EOF signal, ‘Ctrl-D’ on Unix and ‘Ctrl-Z’ on Windows.  Any
          pushback on ‘stdin()’ will be cleared before return.)

          ‘file’ can also be a complete URL.  (For the supported URL
          schemes, see the ‘URLs’ section of the help for ‘url’.)

  header: a logical value indicating whether the file contains the
          names of the variables as its first line.  If missing, the
          value is determined from the file format: ‘header’ is set to
          ‘TRUE’ if and only if the first row contains one fewer field
          than the number of columns.

     sep: the field separator character.  Values on each line of the
          file are separated by this character.  If ‘sep = ""’ (the
          default for ‘read.table’) the separator is ‘white space’,
          that is one or more spaces, tabs, newlines or carriage
          returns.

   quote: the set of quoting characters. To disable quoting altogether,
          use ‘quote = ""’.  See ‘scan’ for the behaviour on quotes
          embedded in quotes.  Quoting is only considered for columns
          read as character, which is all of them unless ‘colClasses’
          is specified.

     dec: the character used in the file for decimal points.

numerals: string indicating how to convert numbers whose conversion to
          double precision would lose accuracy, see ‘type.convert’.
          Can be abbreviated.  (Applies also to complex-number inputs.)

row.names: a vector of row names.  This can be a vector giving the
          actual row names, or a single number giving the column of the
          table which contains the row names, or character string
          giving the name of the table column containing the row names.

          If there is a header and the first row contains one fewer
          field than the number of columns, the first column in the
          input is used for the row names.  Otherwise if ‘row.names’ is
          missing, the rows are numbered.

          Using ‘row.names = NULL’ forces row numbering. Missing or
          ‘NULL’ ‘row.names’ generate row names that are considered to
          be ‘automatic’ (and not preserved by ‘as.matrix’).

col.names: a vector of optional names for the variables.  The default
          is to use ‘"V"’ followed by the column number.

   as.is: controls conversion of character variables (insofar as they
          are not converted to logical, numeric or complex) to factors,
          if not otherwise specified by ‘colClasses’.  Its value is
          either a vector of logicals (values are recycled if
          necessary), or a vector of numeric or character indices which
          specify which columns should not be converted to factors.

          Note: to suppress all conversions including those of numeric
          columns, set ‘colClasses = "character"’.

          Note that ‘as.is’ is specified per column (not per variable)
          and so includes the column of row names (if any) and any
          columns to be skipped.

tryLogical: a ‘logical’ determining if columns consisting entirely of
          ‘"F"’, ‘"T"’, ‘"FALSE"’, and ‘"TRUE"’ should be converted to
          ‘logical’; passed to ‘type.convert’, true by default.

na.strings: a character vector of strings which are to be interpreted
          as ‘NA’ values.  Blank fields are also considered to be
          missing values in logical, integer, numeric and complex
          fields.  Note that the test happens _after_ white space is
          stripped from the input (if enabled), so ‘na.strings’ values
          may need their own white space stripped in advance.

colClasses: character.  A vector of classes to be assumed for the
          columns.  If unnamed, recycled as necessary.  If named, names
          are matched with unspecified values being taken to be ‘NA’.

          Possible values are ‘NA’ (the default, when ‘type.convert’ is
          used), ‘"NULL"’ (when the column is skipped), one of the
          atomic vector classes (logical, integer, numeric, complex,
          character, raw), or ‘"factor"’, ‘"Date"’ or ‘"POSIXct"’.
          Otherwise there needs to be an ‘as’ method (from package
          ‘methods’) for conversion from ‘"character"’ to the specified
          formal class.

          Note that ‘colClasses’ is specified per column (not per
          variable) and so includes the column of row names (if any).

   nrows: integer: the maximum number of rows to read in.  Negative and
          other invalid values are ignored.

    skip: integer: the number of lines of the data file to skip before
          beginning to read data.

check.names: logical.  If ‘TRUE’ then the names of the variables in the
          data frame are checked to ensure that they are syntactically
          valid variable names.  If necessary they are adjusted (by
          ‘make.names’) so that they are, and also to ensure that there
          are no duplicates.

    fill: logical. If ‘TRUE’ then in case the rows have unequal length,
          blank fields are implicitly added.  See ‘Details’.

strip.white: logical. Used only when ‘sep’ has been specified, and
          allows the stripping of leading and trailing white space from
          unquoted ‘character’ fields (‘numeric’ fields are always
          stripped).  See ‘scan’ for further details (including the
          exact meaning of ‘white space’), remembering that the columns
          may include the row names.

blank.lines.skip: logical: if ‘TRUE’ blank lines in the input are
          ignored.

comment.char: character: a character vector of length one containing a
          single character or an empty string.  Use ‘""’ to turn off
          the interpretation of comments altogether.

allowEscapes: logical.  Should C-style escapes such as ‘\n’ be
          processed or read verbatim (the default)?  Note that if not
          within quotes these could be interpreted as a delimiter (but
          not as a comment character).  For more details see ‘scan’.

   flush: logical: if ‘TRUE’, ‘scan’ will flush to the end of the line
          after reading the last of the fields requested.  This allows
          putting comments after the last field.

stringsAsFactors: logical: should character vectors be converted to
          factors?  Note that this is overridden by ‘as.is’ and
          ‘colClasses’, both of which allow finer control.

fileEncoding: character string: if non-empty declares the encoding used
          on a file when given as a character string (not on an
          existing connection) so the character data can be re-encoded.
          See the ‘Encoding’ section of the help for ‘file’, the ‘R
          Data Import/Export’ manual and ‘Note’.

encoding: encoding to be assumed for input strings.  It is used to mark
          character strings as known to be in Latin-1 or UTF-8 (see
          ‘Encoding’): it is not used to re-encode the input, but
          allows R to handle encoded strings in their native encoding
          (if one of those two).  See ‘Value’ and ‘Note’.

    text: character string: if ‘file’ is not supplied and this is, then
          data are read from the value of ‘text’ via a text connection.
          Notice that a literal string can be used to include (small)
          data sets within R code.

 skipNul: logical: should NULs be skipped?

     ...: Further arguments to be passed to ‘read.table’.

_D_e_t_a_i_l_s:

     This function is the principal means of reading tabular data into
     R.

     Unless ‘colClasses’ is specified, all columns are read as
     character columns and then converted using ‘type.convert’ to
     logical, integer, numeric, complex or (depending on ‘as.is’)
     factor as appropriate.  Quotes are (by default) interpreted in all
     fields, so a column of values like ‘"42"’ will result in an
     integer column.

     A field or line is ‘blank’ if it contains nothing (except
     whitespace if no separator is specified) before a comment
     character or the end of the field or line.

     If ‘row.names’ is not specified and the header line has one less
     entry than the number of columns, the first column is taken to be
     the row names.  This allows data frames to be read in from the
     format in which they are printed.  If ‘row.names’ is specified and
     does not refer to the first column, that column is discarded from
     such files.

     The number of data columns is determined by looking at the first
     five lines of input (or the whole input if it has less than five
     lines), or from the length of ‘col.names’ if it is specified and
     is longer.  This could conceivably be wrong if ‘fill’ or
     ‘blank.lines.skip’ are true, so specify ‘col.names’ if necessary
     (as in the ‘Examples’).

     ‘read.csv’ and ‘read.csv2’ are identical to ‘read.table’ except
     for the defaults.  They are intended for reading ‘comma separated
     value’ files (‘.csv’) or (‘read.csv2’) the variant used in
     countries that use a comma as decimal point and a semicolon as
     field separator.  Similarly, ‘read.delim’ and ‘read.delim2’ are
     for reading delimited files, defaulting to the TAB character for
     the delimiter.  Notice that ‘header = TRUE’ and ‘fill = TRUE’ in
     these variants, and that the comment character is disabled.

     The rest of the line after a comment character is skipped; quotes
     are not processed in comments.  Complete comment lines are allowed
     provided ‘blank.lines.skip = TRUE’; however, comment lines prior
     to the header must have the comment character in the first
     non-blank column.

     Quoted fields with embedded newlines are supported except after a
     comment character.  Embedded NULs are unsupported: skipping them
     (with ‘skipNul = TRUE’) may work.

_V_a_l_u_e:

     A data frame (‘data.frame’) containing a representation of the
     data in the file.

     Empty input is an error unless ‘col.names’ is specified, when a
     0-row data frame is returned: similarly giving just a header line
     if ‘header = TRUE’ results in a 0-row data frame.  Note that in
     either case the columns will be logical unless ‘colClasses’ was
     supplied.

     Character strings in the result (including factor levels) will
     have a declared encoding if ‘encoding’ is ‘"latin1"’ or ‘"UTF-8"’.

_C_S_V _f_i_l_e_s:

     See the help on ‘write.csv’ for the various conventions for ‘.csv’
     files.  The commonest form of CSV file with row names needs to be
     read with ‘read.csv(..., row.names = 1)’ to use the names in the
     first column of the file as row names.

_M_e_m_o_r_y _u_s_a_g_e:

     These functions can use a surprising amount of memory when reading
     large files.  There is extensive discussion in the ‘R Data
     Import/Export’ manual, supplementing the notes here.

     Less memory will be used if ‘colClasses’ is specified as one of
     the six atomic vector classes.  This can be particularly so when
     reading a column that takes many distinct numeric values, as
     storing each distinct value as a character string can take up to
     14 times as much memory as storing it as an integer.

     Using ‘nrows’, even as a mild over-estimate, will help memory
     usage.

     Using ‘comment.char = ""’ will be appreciably faster than the
     ‘read.table’ default.

     ‘read.table’ is not the right tool for reading large matrices,
     especially those with many columns: it is designed to read _data
     frames_ which may have columns of very different classes.  Use
     ‘scan’ instead for matrices.

_N_o_t_e:

     The columns referred to in ‘as.is’ and ‘colClasses’ include the
     column of row names (if any).

     There are two approaches for reading input that is not in the
     local encoding.  If the input is known to be UTF-8 or Latin1, use
     the ‘encoding’ argument to declare that.  If the input is in some
     other encoding, then it may be translated on input.  The
     ‘fileEncoding’ argument achieves this by setting up a connection
     to do the re-encoding into the current locale.  Note that on
     Windows or other systems not running in a UTF-8 locale, this may
     not be possible.

_R_e_f_e_r_e_n_c_e_s:

     Chambers, J. M. (1992) _Data for models._ Chapter 3 of
     _Statistical Models in S_ eds J. M. Chambers and T. J. Hastie,
     Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     The ‘R Data Import/Export’ manual.

     ‘scan’, ‘type.convert’, ‘read.fwf’ for reading _f_ixed _w_idth
     _f_ormatted input; ‘write.table’; ‘data.frame’.

     ‘count.fields’ can be useful to determine problems with reading
     files which result in reports of incorrect record lengths (see the
     ‘Examples’ below).

     <https://www.rfc-editor.org/rfc/rfc4180> for the IANA definition
     of CSV files (which requires comma as separator and CRLF line
     endings).

_E_x_a_m_p_l_e_s:

     ## using count.fields to handle unknown maximum number of fields
     ## when fill = TRUE
     test1 <- c(1:5, "6,7", "8,9,10")
     tf <- tempfile()
     writeLines(test1, tf)

     read.csv(tf, fill = TRUE) # 1 column
     ncol <- max(count.fields(tf, sep = ","))
     read.csv(tf, fill = TRUE, header = FALSE,
              col.names = paste0("V", seq_len(ncol)))
     unlink(tf)

     ## "Inline" data set, using text=
     ## Notice that leading and trailing empty lines are auto-trimmed

     read.table(header = TRUE, text = "
     a b
     1 2
     3 4
     ")

## Daten sichten

Es ist immer ratsam, einen ersten Blick auf die Daten zu werfen, um deren Struktur zu verstehen. Dazu verwenden Sie folgenden Befehl. (Achtung, die Ausgabe ist recht lang.)

In [ ]:
show(data_csv)

                                                                V1          V2
1                                      GENESIS-Tabelle: 21341-0001
2                     Personal an Hochschulen: Deutschland, Jahre,
3  Personalgruppen nach Besch\xe4ftigungsverh\xe4ltnis, Geschlecht
4                                 Statistik des Hochschulpersonals
5                                                      Deutschland
6                                 Personal an Hochschulen (Anzahl)
7
8                Wissenschaftliches und k\xfcnstlerisches Personal m\xe4nnlich
9                Wissenschaftliches und k\xfcnstlerisches Personal    weiblich
10               Wissenschaftliches und k\xfcnstlerisches Personal   Insgesamt
11            Hauptberufl. wissenschaftl. u. k\xfcnstler. Personal m\xe4nnlich
12            Hauptberufl. wissenschaftl. u. k\xfcnstler. Personal    weiblich
13            Hauptberufl. wissenschaftl. u. k\xfcnstler. Personal   Insgesamt
14                                                     Professoren m\xe4nnlich
15                                                     Professoren    weiblich
16                                                     Professoren   Insgesamt
17                                        Dozenten und Assistenten m\xe4nnlich
18                                        Dozenten und Assistenten    weiblich
19                                        Dozenten und Assistenten   Insgesamt
20              Wissenschaftliche und k\xfcnstlerische Mitarbeiter m\xe4nnlich
21              Wissenschaftliche und k\xfcnstlerische Mitarbeiter    weiblich
22              Wissenschaftliche und k\xfcnstlerische Mitarbeiter   Insgesamt
23                         Lehrkr\xe4fte f\xfcr besondere Aufgaben m\xe4nnlich
24                         Lehrkr\xe4fte f\xfcr besondere Aufgaben    weiblich
25                         Lehrkr\xe4fte f\xfcr besondere Aufgaben   Insgesamt
26            Nebenberufl. wissenschaftl. u. k\xfcnstler. Personal m\xe4nnlich
27            Nebenberufl. wissenschaftl. u. k\xfcnstler. Personal    weiblich
28            Nebenberufl. wissenschaftl. u. k\xfcnstler. Personal   Insgesamt
29                                        Gastprofessoren, Emeriti m\xe4nnlich
30                                        Gastprofessoren, Emeriti    weiblich
31                                        Gastprofessoren, Emeriti   Insgesamt
32                                                 Lehrbeauftragte m\xe4nnlich
33                                                 Lehrbeauftragte    weiblich
34                                                 Lehrbeauftragte   Insgesamt
35                                Wissenschaftliche Hilfskr\xe4fte m\xe4nnlich
36                                Wissenschaftliche Hilfskr\xe4fte    weiblich
37                                Wissenschaftliche Hilfskr\xe4fte   Insgesamt
38                Verwaltungs-, technisches und sonstiges Personal m\xe4nnlich
39                Verwaltungs-, technisches und sonstiges Personal    weiblich
40                Verwaltungs-, technisches und sonstiges Personal   Insgesamt
41              Hauptberufl. Verwaltungs-, techn. u.sonst.Personal m\xe4nnlich
42              Hauptberufl. Verwaltungs-, techn. u.sonst.Personal    weiblich
43              Hauptberufl. Verwaltungs-, techn. u.sonst.Personal   Insgesamt
44                                             Verwaltungspersonal m\xe4nnlich
45                                             Verwaltungspersonal    weiblich
46                                             Verwaltungspersonal   Insgesamt
47                                             Bibliothekspersonal m\xe4nnlich
48                                             Bibliothekspersonal    weiblich
49                                             Bibliothekspersonal   Insgesamt
50                                            Technisches Personal m\xe4nnlich
51                                            Technisches Personal    weiblich
52                                            Technisches Personal   Insgesamt
53                                              Sonstiges Personal m\xe4nnlich
54                                              Sonstiges Personal    weiblich
55                                              Sonstiges Personal   Insgesamt
56                                                  Pflegepersonal m\xe4nnlich
57                                                  Pflegepersonal    weiblich
58                                                  Pflegepersonal   Insgesamt
59                                                        Arbeiter m\xe4nnlich
60                                                        Arbeiter    weiblich
61                                                        Arbeiter   Insgesamt
62                                                   Auszubildende m\xe4nnlich
63                                                   Auszubildende    weiblich
64                                                   Auszubildende   Insgesamt
65                                                    Praktikanten m\xe4nnlich
66                                                    Praktikanten    weiblich
67                                                    Praktikanten   Insgesamt
68                   Sonstiges Personal f\xfcr Lehre und Forschung m\xe4nnlich
69                   Sonstiges Personal f\xfcr Lehre und Forschung    weiblich
70                   Sonstiges Personal f\xfcr Lehre und Forschung   Insgesamt
71                               Leitungs- und Verwaltungspersonal m\xe4nnlich
72                               Leitungs- und Verwaltungspersonal    weiblich
73                               Leitungs- und Verwaltungspersonal   Insgesamt
74              Nebenberufl. Verwaltungs-, techn. u.sonst.Personal m\xe4nnlich
75              Nebenberufl. Verwaltungs-, techn. u.sonst.Personal    weiblich
76              Nebenberufl. Verwaltungs-, techn. u.sonst.Personal   Insgesamt
77                                         Sonstige Hilfskr\xe4fte m\xe4nnlich
78                                         Sonstige Hilfskr\xe4fte    weiblich
79                                         Sonstige Hilfskr\xe4fte   Insgesamt
80                                      Zeitweilig Besch\xe4ftigte m\xe4nnlich
81                                      Zeitweilig Besch\xe4ftigte    weiblich
82                                      Zeitweilig Besch\xe4ftigte   Insgesamt
83                                                       Insgesamt m\xe4nnlich
84                                                       Insgesamt    weiblich
85                                                       Insgesamt   Insgesamt
86                                                      __________
87                   \xa9 Statistisches Bundesamt (Destatis), 2023
88                                    Stand: 04.04.2024 / 18:30:01
       V3
1
2
3
4
5
6
7    2020
8  247720
9  167112
10 414832
11 159567
12 109708
13 269275
14  36344
15  12949
16  49293
17   2182
18   1546
19   3728
20 116004
21  89383
22 205387
23   5037
24   5830
25  10867
26  88153
27  57404
28 145557
29   1534
30    259
31   1793
32  64492
33  35238
34  99730
35  22127
36  21907
37  44034
38 100320
39 243913
40 344233
41  98247
42 240419
43 338666
44  25941
45  83918
46 109859
47   2443
48   7308
49   9751
50  33025
51  26360
52  59385
53  14422
54  41609
55  56031
56  15427
57  63731
58  79158
59      -
60      -
61      -
62   6284
63  16137
64  22421
65    705
66   1356
67   2061
68      -
69      -
70      -
71      -
72      -
73      -
74   2073
75   3494
76   5567
77   2073
78   3494
79   5567
80      -
81      -
82      -
83 348040
84 411025
85 759065
86
87
88

### Dateiinhalt interpretieren

Die Datei hat drei Spalten (V1, V2, V3):
- **V1:** In den Zeilen 1-6 und 87-88 stehen die Metadaten der Datei. Hier finden Sie Infos zum Herausgeber, Inhalt der Daten, etc.. In den Zeilen 8-85 befinden sich Bezeichnung zum Angestelltenverhältnis des Hochschulpersonals (Dozent, Gastprofessoren, etc.).
- **V2:** Diese Spalte unterteilt die Beschäftigten nach Geschlecht (männlich, weiblich & Insgesamt).
- **V3:** In den Zeilen 8-85 sind die jeweiligen absoluten Personalzahlen enthalten. In der Zeile 7 ist die Spaltenüberschrift “2020” gegeben. Diese bezieht sich auf das Erhebungsjahr der Daten.

### Anmerkungen zu der Ausgangsdatei

Es fallen hier direkt mehrere Punkte auf, welche die CSV-Datei
schlechter maschinenlesbar machen:  

1. Der Titel des Datensatzes ist nicht prägnant und verständlich.

2. Metadaten (übergeordnete Informationen über die vorliegenden Daten) sollten nicht in der Tabelle selbst auftauchen sondern separiert in dem dafür vorgesehenen Metadatenbereich abgespeichert werden. Die CSV-Datei sollte neben der Kopfzeile und der Inhaltsdaten keine weiteren Informationen enthalten.

3. Spalten sollten immer Überschriften haben. Dies fehlt hier für **V1** und **V2**.

4. Auf Umlaute und Sonderzeichen ist zu verzichten. Dies führt zu einer fehlerhaften Anzeige. In **V1 Zeile 87** wird das Sonderzeichen “Copyright” nicht logisch erkannt und als “\xa9” angezeigt. In den Spalten **V1** und **V2** werden Wörter mit Umlauten wie *“männlich”, “für”, “Lehrkräfte”* etc. alle fehlerhaft angezeigt. Um größtmögliche Kompatibilität zu anderen Programmen zu gewährleisten, sollten Dateien immer der <a href="https://de.wikipedia.org/wiki/UTF-8" target="_blank">UTF-8-Zeichenkodierung</a> folgen. Andernfalls können Probleme bei der maschinellen Verarbeitung entstehen, wie Sie in der Tabelle erkennen können.

Wenn Sie mehr zum Thema “hochwertiger Datenaufbau” wissen möchten, werfen Sie gerne nochmal einen Blick in den Abschnitt  [Datenstruktur](/Markdown/6_1_Datenstruktur.md) oder auch den <a href="https://nqdm-projekt.de/de/downloads/leitfaden" target="_blank">NQDM-Leitfaden</a>.

## Daten aufbereiten 

Im folgenden Abschnitt werden die zuletzt erwähnten Qualitätsmängel der
Datendarstellung behoben und die Daten zur Auswertung vorbereitet.

**Problem der Zeichenkodierung**  
Im Default interpretiert **R** Dokumente als UTF-8 (Unicode) kodiert.
Dies ist die Ausgangseinstellung und **R-Skripte** werden mit dieser
Zeichenkodierung ebenfalls abgespeichert, solange Sie dies nicht manuell
ändern. Beim Laden von nicht UTF-8 kodierten Dateien kann es jedoch zu
Anzeigeproblemen kommen, wie in der Tabelle feststellbar. Siehe
beispielsweise Zelle V2 Zeile 8:  
```
## [1] "m\xe4nnlich"
```
Solch eine Anzeige spricht dafür, dass ein ISO 8859-1 (“Latin-1”)
kodiertes Dokument inklusive Umlauten als UTF-8 interpretiert wird.
Damit Ihre Datei kompatibel und gut maschinell lesbar für andere
Programme bleibt, sollten Sie stets eine UFT-8 Kodierung beibehalten.
Eine bessere Anzeige können Sie trotzdem mit folgenden Schritten
erreichen.


```{admonition} Hinweis
:class: hinweis
Je nach Einstellung von RStudio kommt dieses Problem ggf. nicht auf und Umlaute werden korrekt angezeigt.
```

**Lösungsansätze bei falscher Anzeige**  
Sie können die Datei als ISO 8859-1 (“Latin-1”) kodiert laden. Hierzu
müssen Sie zum bekannten Einlesebefehl nur den Zusatz
`encoding = "latin1"` hinzufügen, damit **R** weiß, welche
Zeichenkodierung im Dokument verwendet wurde. Die neu eingelesene Datei bezeichnen wir als `data_csv_clean`:

In [ ]:
data_csv_clean <- read.csv2("Data/21341-0001_F_2020.csv", header = FALSE, encoding = "latin1")

Wenn Sie schnell überprüfen möchten, ob die Umlaute nun korrekt angezeigt werden, können Sie den Befehl `head()` benutzen. Hierdurch werden nur die ersten Zeilen Ihrer Tabelle angezeigt.

In [ ]:
head(data_csv_clean)

  V1                                                        V2 V3
1 GENESIS-Tabelle: 21341-0001
2 Personal an Hochschulen: Deutschland, Jahre,
3 Personalgruppen nach Beschäftigungsverhältnis, Geschlecht
4 Statistik des Hochschulpersonals
5 Deutschland
6 Personal an Hochschulen (Anzahl)

An dem Wort “Beschäftigungsverältnis” in Zeile 3 sehen Sie, dass die CSV-Datei nun korrekt gelesen wird. Wie bereits erwähnt sollte Sie auf Umlaute jedoch in Gänze verzichten.

*Alternative:*  
Um Probleme mit der Zeichenkodierung zu vermeiden, speichern Sie am
besten schon im Vorhinein Ihre Datei mit UTF-8 Kodierung ab. Dies können
Sie meist direkt unter den `Speichern unter...` Dateiformaten auswählen:

```{figure} _images/UTF8_Zeichenkodierung.png
---
name: utf8-speichern
alt: Ein Screenshot, der das Abspeichern als UTF-8 Code zeigt.
---
Abspeichern mit UTF-8 Zeichenkodierung.
```

### Umlaute entfernen 

Mittels des Befehls `str_replace_all` können Sie einzelne Buchstaben in
Ihrer Tabelle ersetzen. Dies ist jedoch nur separat für einzelne Spalten
möglich.

In [ ]:
data_csv_clean$V1 <- str_replace_all(data_csv_clean$V1, c("ä" = "ae", "ö" = "oe", "ü" ="ue", "ß" ="ss"))
data_csv_clean$V2 <- str_replace_all(data_csv_clean$V2, c("ä" = "ae", "ö" = "oe", "ü" ="ue", "ß" ="ss"))

**Erklärung des Codes:**  

-   `data_csv_utf8$V1`:  
    Durch das Anhängen eines `$`- Zeichens an den Namen der Tabelle
    signalisieren Sie **R**, dass Sie sich nur auf einen bestimmte
    Variable - hier die Spalte **V1** - beziehen möchten.  

-   `str_replace_all`:  
    Suchen und ersetzen von einzelnen Zeichen(-ketten) in ihrer
    Tabelle.  

-   `c("ä" = "ae", "ö" = "oe",...)`:  
    Der Befehl `c` erstellt einen Vektor. Ein Vektor kombiniert von
    Ihnen festgelegte Zahlen- oder Zeichenketten (letzteres wird auch
    **“String”** genannt. Beispiele für "Strings" sind “Apfel”, “Birne” oder
    “Kiwi”).  
    Im hier verwendeten Zusammenhang mit `str_replace_all()` wird **R**
    befohlen, alle “ä” durch “ae” zu ersetzen und alle “ö” durch “oe”
    usw.

**Ergebnis ansehen**:  
Über die `show()`-Funktion könnten Sie jetzt die Tabelle erneut sichten
und überprüfen, ob die Zeichenumkodierung funktioniert hat. Wenn Ihre
Tabelle jedoch sehr lang ist (so wie in diesem Fall) und Sie nur einen
Teil Ihrer Tabelle betrachten möchten, können Sie sich auch nur
bestimmte Bereiche anzeigen lassen. Hierfür setzen Sie hinter den
Dateinamen eckige Klammern und bestimmen den
Wertebereich:`[*Zeilenbereich*,*Spaltenbereich*]`.

```{admonition} Hinweis
:class: hinweis
Wenn Sie einen Wertebereich angeben wollen, platzieren Sie
zwischen den ersten und letzten Wert einen Doppelpunkt`:` und **R**
inkludiert alle dazwischenliegenden Werte (“von… bis…”). Ein Komma
separiert Bereiche.
```
**Allgemeines Beispiel:**

In [ ]:
1:5

[1] 1 2 3 4 5

Ein Vektor mit Wertebereichen:

In [ ]:
c(1:5, 11:15)

 [1]  1  2  3  4  5 11 12 13 14 15

**Angewendet auf die vorliegende CSV-Tabelle:**

In [ ]:
show(data_csv_clean[8:20,1:3])

                                                     V1        V2     V3
8       Wissenschaftliches und kuenstlerisches Personal maennlich 247720
9       Wissenschaftliches und kuenstlerisches Personal  weiblich 167112
10      Wissenschaftliches und kuenstlerisches Personal Insgesamt 414832
11   Hauptberufl. wissenschaftl. u. kuenstler. Personal maennlich 159567
12   Hauptberufl. wissenschaftl. u. kuenstler. Personal  weiblich 109708
13   Hauptberufl. wissenschaftl. u. kuenstler. Personal Insgesamt 269275
14                                          Professoren maennlich  36344
15                                          Professoren  weiblich  12949
16                                          Professoren Insgesamt  49293
17                             Dozenten und Assistenten maennlich   2182
18                             Dozenten und Assistenten  weiblich   1546
19                             Dozenten und Assistenten Insgesamt   3728
20     Wissenschaftliche und kuenstlerische Mitarbeiter maennlich 116004

Wie Sie erkennen können, wurden die Umlaute erfolgreich umgeschrieben.

### Tabelle unterteilen 

Damit die Tabelle eine bessere Struktur erlangt, empfiehlt sich eine
Separierung in Metadaten und Tabellendaten.

In [ ]:
Metadaten <- data_csv_clean[c(1:6, 87:88), 1]
Tabellendaten <- data_csv_clean[8:85, 1:3]

In [ ]:
show(Metadaten)

[1] "GENESIS-Tabelle: 21341-0001"
[2] "Personal an Hochschulen: Deutschland, Jahre,"
[3] "Personalgruppen nach Beschaeftigungsverhaeltnis, Geschlecht"
[4] "Statistik des Hochschulpersonals"
[5] "Deutschland"
[6] "Personal an Hochschulen (Anzahl)"
[7] "© Statistisches Bundesamt (Destatis), 2023"
[8] "Stand: 04.04.2024 / 18:30:01"

In [ ]:
head(Tabellendaten)

   V1                                                   V2        V3
8  Wissenschaftliches und kuenstlerisches Personal      maennlich 247720
9  Wissenschaftliches und kuenstlerisches Personal      weiblich  167112
10 Wissenschaftliches und kuenstlerisches Personal      Insgesamt 414832
11   Hauptberufl. wissenschaftl. u. kuenstler. Personal maennlich 159567
12   Hauptberufl. wissenschaftl. u. kuenstler. Personal weiblich  109708
13   Hauptberufl. wissenschaftl. u. kuenstler. Personal Insgesamt 269275

### Spaltenüberschriften setzen
Der Befehl `colnames()`ermöglicht es Ihnen Spaltenüberschriften zu
setzen.  

Sie können dies entweder für jede Spalte mit einem einzelnen Befehl
durchführen:

In [ ]:
colnames(Tabellendaten)[1] <- "Angestelltenverhaeltnis"

In [ ]:
head(Tabellendaten)

   Angestelltenverhaeltnis                              V2        V3
8  Wissenschaftliches und kuenstlerisches Personal      maennlich 247720
9  Wissenschaftliches und kuenstlerisches Personal      weiblich  167112
10 Wissenschaftliches und kuenstlerisches Personal      Insgesamt 414832
11   Hauptberufl. wissenschaftl. u. kuenstler. Personal maennlich 159567
12   Hauptberufl. wissenschaftl. u. kuenstler. Personal weiblich  109708
13   Hauptberufl. wissenschaftl. u. kuenstler. Personal Insgesamt 269275

Oder alle Spaltenüberschriften mittels eines Vektors gleichzeitig neu
setzen:

In [ ]:
colnames(Tabellendaten) <- c("Angestelltenverhaeltnis", "Geschlecht", "Angestelltenzahl_2020")

In [ ]:
head(Tabellendaten)

   Angestelltenverhaeltnis                              Geschlecht
8  Wissenschaftliches und kuenstlerisches Personal      maennlich
9  Wissenschaftliches und kuenstlerisches Personal      weiblich
10 Wissenschaftliches und kuenstlerisches Personal      Insgesamt
11   Hauptberufl. wissenschaftl. u. kuenstler. Personal maennlich
12   Hauptberufl. wissenschaftl. u. kuenstler. Personal weiblich
13   Hauptberufl. wissenschaftl. u. kuenstler. Personal Insgesamt
   Angestelltenzahl_2020
8  247720
9  167112
10 414832
11 159567
12 109708
13 269275

Damit die Nummerierung der Tabellenzeilen nicht bei der Zahl 8 startet,
empfiehlt sich die Nummerierung der Zeilen neu zu setzen. Herzu kann der
Befehl `row.names` eingesetzt werden:

In [ ]:
row.names(Tabellendaten) <- 1:78

Vollständig aufbereitet sehen die `Tabellendaten` dann wie folgt aus:

In [ ]:
head(Tabellendaten)

  Angestelltenverhaeltnis                              Geschlecht
1 Wissenschaftliches und kuenstlerisches Personal      maennlich
2 Wissenschaftliches und kuenstlerisches Personal      weiblich
3 Wissenschaftliches und kuenstlerisches Personal      Insgesamt
4   Hauptberufl. wissenschaftl. u. kuenstler. Personal maennlich
5   Hauptberufl. wissenschaftl. u. kuenstler. Personal weiblich
6   Hauptberufl. wissenschaftl. u. kuenstler. Personal Insgesamt
  Angestelltenzahl_2020
1 247720
2 167112
3 414832
4 159567
5 109708
6 269275

````{admonition} Vollständiger Code zur Fehlerkontrolle 
:class: hinweis, dropdown
```
#TidyVerse Package Installation
install.packages("tidyverse")
library(tidyverse)

#Daten einlesen
data_csv_clean <- read.csv2("Data/21341-0001_F_2020.csv", header = FALSE, encoding = "latin1")

#Ergebnisse ansehen
head(data_csv_clean)

#Umlaute entfernen
data_csv_clean$V1 <- str_replace_all(data_csv_clean$V1, c("ä" = "ae", "ö" = "oe", "ü" ="ue", "ß" ="ss"))
data_csv_clean$V2 <- str_replace_all(data_csv_clean$V2, c("ä" = "ae", "ö" = "oe", "ü" ="ue", "ß" ="ss"))

#Ausgewählte Ergebnisse ansehen
show(data_csv_clean[8:20,1:3])

#Tabelle unterteilen
Metadaten <- data_csv_clean[c(1:6, 87:88), 1]
Tabellendaten <- data_csv_clean[8:85, 1:3]

#Spaltenüberschriften setzen
colnames(Tabellendaten) <- c("Angestelltenverhaeltnis", "Geschlecht", "Angestelltenzahl_2020")

#Nummerierung neu setzen
row.names(Tabellendaten) <- 1:78

#Ergebnis ansehen
head(Tabellendaten) 
```
````